.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-container{
  display: flex;
  justify-content: center;
}
.box {
  border: 5px solid black;
  text-align: center;
  width: 40vw;
  margin: 1em;
  height: 40vw;
}
.box-tie{
  border: 5px solid black;
}
.box-win{
  border: 5px solid blue;
}
.box-lose{
  border: 5px solid red;
}
.box img{
  width: 70%;
  height: 70%;
}
